html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    font-family: Verdana, Arial, Tahoma, Serif;
}


header{
    width: 100%;
    background-color: #3d5ba3;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    -webkit-print-color-adjust: exact; 
}

/*##################### image ########################*/


header #image_cv{
    width: 200px;
    margin-left: 100px;
    padding: 35px;   
    background-color:#446dcd;
    -webkit-print-color-adjust: exact; 
}

#image_cv img{
    width: 200px;
}

/*#################### titulo #########################*/


header #titulo_cv{
    margin-left: 50px;
    padding: 30px;    
}

#titulo_cv h1{
    text-transform: uppercase;
    color:#FFF;
    font-size:50px;
}

#titulo_cv h2{
    text-transform: uppercase;
    color:#FFF;
    font-size:40px;
    font-weight: 100;

}

#titulo_cv h3{
    color:#000;
    font-size:16px;
    font-weight: 100;
    
}

/*-----------------------------------------------*/

section{
    width: 100%;
    display: flex;
    flex-direction: row;
}


/*#############################################*/

section #perfil_info{
    width: 250px;
    margin-left: 100px;
    padding: 10px;
    background-color: #446dcd;
    color:#FFF;
    -webkit-print-color-adjust: exact; 
}

#perfil_info h1{
    font-size:18px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}
#perfil_info p{
    font-size: 11px;
    text-align: center;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 20px;
}

#perfil_info ul{
    text-align: left;
}

#perfil_info li{
    font-size: 11px;
    letter-spacing: 1px;
    line-height: 20px;
    margin-bottom: 10px;
}

#perfil_info li strong{
    color:#002785;
}

#perfil_info li a{
    text-decoration: none;
    color:#fff
}

/*################ mas info #############################*/

section #mas_info{
    width: 600px;
    margin-left: 50px;
    padding: 30px; 
}

/*################## educacion ###########################*/

section #mas_info #educacion_info{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    margin-top: 50px;
}


#educacion_info >h1{
    font-size: 25px;
    margin-bottom: 10px;
    color:#3b5aa5;
    letter-spacing: 1px;
}

#educacion_info .edu_{
    width: 500px;
    margin-bottom: 20px;
}

#educacion_info .edu_ h1{
    font-size: 14px;
    margin-bottom: 10px;
    color: #3b5aa5;
    letter-spacing: 1px;
}

#educacion_info .edu_ h2{
    font-size: 12px;
    margin-bottom: 5px;
    color: #3b5aa5;
    letter-spacing: 1px;
}

#educacion_info .edu_ h3{
    font-size: 11px;
    color: #000;
    letter-spacing: 1px;
    font-weight: 100;
}


/*################## reconocimientos ###########################*/

section #mas_info #reconocimientos_info{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    margin-top: 50px;
}


#reconocimientos_info >h1{
    font-size: 25px;
    margin-bottom: 10px;
    color:#3b5aa5;
    letter-spacing: 1px;
}

#reconocimientos_info >h2{
    font-size: 14px;
    margin-bottom: 10px;
    color:#3b5aa5;
    letter-spacing: 1px;
}

#reconocimientos_info >p{
    font-size: 12px;
    margin-bottom: 30px;
    color:#000;
    letter-spacing: 1px;
}



/*################## habilidades ###########################*/

section #mas_info #habilidades_info{
    width: 100%;
    display: block;
    margin-bottom: 20px;
}


#habilidades_info >h1{
    font-size: 25px;
    margin-bottom: 30px;
    color:#3b5aa5;
    letter-spacing: 1px;
}

#habilidades_info >ul{
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
}
#habilidades_info >ul >li{
    width: 100%;
    height: 25px;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;    
    align-items: center;
}

#habilidades_info >ul >li p{
    width: 100px;
    min-width: 100px;
    font-size: 14px;
}
#habilidades_info >ul >li div{
    width: 250px;
    height: 10px;
    margin: 1px;
    display: block;
}

#habilidades_info >ul >li div span{
   height: 10px;
   background-color: #446dcd;
   margin: 1px;    
   display: block;
   -webkit-print-color-adjust: exact; 
}

#span_html{max-width: 100%;}
#span_css{max-width: 100%;}
#span_js{max-width: 100%;}
#span_node{max-width: 50%;}
#span_react{max-width: 50%;}
#span_json{max-width: 70%;}
#span_php{max-width: 50%}
#span_mysql{max-width: 30%;}
#span_git{max-width: 50%;}

#habilidades_info >p{
    font-size: 12px;
    letter-spacing: 1px;
 }

/*################ experiencia #############################*/

section #mas_info #experiencia_info{
    width: 100%;
    display: block;
    margin-bottom: 40px;
    margin-top: 50px;
}

#experiencia_info >h1{
    font-size: 25px;
    margin-bottom: 30px;
    color:#3b5aa5;
    letter-spacing: 1px;
}

#experiencia_info .exp_{
    width: 100%;
    margin-bottom: 30px;
}

#experiencia_info .exp_ h1{
    font-size: 18px;
    color: #446dcd;
    font-weight: 100;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#experiencia_info .exp_ h2{
    font-size: 12px;
    letter-spacing: 1px;
    color: #3d5ba3;
    font-weight: 100;
    margin-bottom: 5px;
}

#experiencia_info .exp_ p{
    font-size: 12px;
    letter-spacing: 1px;
    margin: 10px 0;
}


#experiencia_info .exp_ p a{
    text-decoration: none;
    color: #3d5ba3;
}

#experiencia_info .exp_ p i{
    font-size: 12px;
    letter-spacing: 1px;
}


